[submodule "site-lisp/dash.el"]
	path = site-lisp/dash.el
	url = https://github.com/magnars/dash.el.git
[submodule "site-lisp/s.el"]
	path = site-lisp/s.el
	url = https://github.com/magnars/s.el.git
[submodule "site-lisp/smex"]
	path = site-lisp/smex
	url = https://github.com/nonsequitur/smex.git
[submodule "site-lisp/ido-completing-read-plus"]
	path = site-lisp/ido-completing-read-plus
	url = https://github.com/DarwinAwardWinner/ido-completing-read-plus.git
